@font-face {
    font-family: 'code';
    src: url('/data/CascadiaCode.ttf');
}

:root {
    --dark: #0c0c0c;
    --light: #cccccc;
}

body {
    margin: 0;

    background: var(--dark);
    color: var(--light);

    font-size: .7rem;
    font-family: 'code';
}

code {
    font-family: 'code';
}
pre {
    display: inline;
}

.pointer::before{
    content: attr(data-path); 
}

#active::after {
    content: '';
    background-color: white;
    display: inline-block;

    position: relative;
    bottom: -.3em;

    width: .6em;
    height: .4em;

    animation: blink 1s steps(2, start) infinite;
}

/* blink animation */
@keyframes blink {
    to {
        visibility: hidden;
    }
}